
body {
	background-color: #f8f8f8;
	font-family: "Roboto",Arial,'Microsoft YaHei',sans-serif;
}

header {
	background-color: #525c68;
}

footer {
	background-color: #525c68;
}

#headerstyle {
	width: 90%;
	border-bottom: 50px #525c68 solid;
	border-top: 50px #525c68 solid;
	margin: 5%;
	margin-top: 0%;
	background-color: #525c68;
}

header div h1{
	display: inline;
	color: #f8f8f8;
	font-size: 4em;
}

nav, ul {
	display: inline;
}

nav li{
	display: inline;
	margin: 1%;
}

nav ul:first-child{
	margin-left: 20%;
}


nav li a{
	color: #f8f8f8;
	font-size: 1em;
	text-decoration: none;
	padding-bottom: 1%;
}

nav li a:active{
	color: #3b3c41;
	border-bottom: #3b3c41 solid 2px;
}

nav li a:hover{
	border-bottom: #f8f8f8 solid 2px;
}

.activepage {
    color: #f8f8f8;
	border-bottom: #f8f8f8 solid 2px;
}

.table {
	width: 100%;
	background-color: #f8f8f8;
	display: table;
	margin-bottom: 5%;
}

.tableimg{
	width: 30%;
	display: table-cell;
}

.tabletext{
	width: 70%;
	display: table-cell;
	vertical-align: middle;
}

.tableimg img{
	border-radius: 100%;
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.paratitle {
	font-size: 3em;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
}

.paratext {
	font-size: 1.5em;
	margin: 5%;
}

footer div img{
	width: 100%;
}

#icon1 {
	width: 6%;
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%; 
	margin-left: 27%;
	margin-right: 13%; 
}

#icon2 {
	width: 6%;
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%; 
	margin-left: 0%;
	margin-right: 0%; 
}

#icon3 {
	width: 6%;
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%; 
	margin-left: 13%;
	margin-right: 27%; 
}

.copyright {
	color: #f8f8f8;
	font-size: 0.5em;
	border-bottom: 25px solid #525c68; 
	margin-left: 37%;
	display: block;
	background-color: #525c68;
}

@media screen and (max-width:1080px){
	header div h1{
		display: block;
		padding-left: 30%;
	}

	#headerstyle {
		border-bottom: 30px #525c68 solid;
		border-top: 30px #525c68 solid;
	}

	nav, ul {
		display: block;
		margin: 1% auto;
	}

	nav ul:first-child{
		margin-left: 15%;
	}

	nav li{
		display: inline-block;
		margin: 5%;
		margin-top: 0;
		margin-bottom: 0; 
	}

	nav li a{
		padding-bottom: 15%;
	}

	#icon1 {
		width: 7%;
		margin-left: 25%;
		margin-right: 12%; 
	}

	#icon2 {
		width: 7%;
		margin-left: 0%;
		margin-right: 0%; 
	}

	#icon3 {
		width: 7%;
		display: inline-block;
		margin-left: 12%;
		margin-right: 25%; 
	}

	.copyright {
		border-bottom: 25px solid #525c68; 
		margin-left: 34%;
	}
}

@media screen and (max-width:800px){
	header div h1{
		display: block;
		padding-left: 25%;
	}

	nav ul:first-child{
		margin-left: 10%;
	}

	.tableimg{
		width: 40%;
		display: table-cell;
	}

	#icon1 {
		width: 8%;
		margin-left: 24.5%;
		margin-right: 11.5%; 
	}

	#icon2 {
		width: 8%;
		margin-left: 0%;
		margin-right: 0%; 
	}

	#icon3 {
		width: 8%;
		display: inline-block;
		margin-left: 11.5%;
		margin-right: 24.5%; 
	}

	.copyright {
		margin-left: 30%;
	}
}

@media screen and (max-width: 720px){
	header div h1{
		display: block;
		padding-left: 22%;
	}

	nav ul:first-child{
		margin-left: 6%;
	}

	section div{
		width: 80%;
		display: block;
		margin: auto;
		margin-bottom: 10%;
	}

	section div:last-child{
		width: 80%;
		display: block;
		margin: auto;
		margin-bottom: 10%;
	}

}

