body{
	background-color: #f8f8f8;
	font-family: "Roboto",Arial,'Microsoft YaHei',sans-serif;
}

.table {
	width: 100%;
	background-color: #8cc34b;
	display: table;
}

.table {
	width: 100%;
	display: table;
}

.tableimg{
	width: 50%;
	display: table-cell;
}

.tabletext{
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

#headerimg{
	width: 60%;
	margin: auto;
	display: block;
}

.tableimg img{
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.title{
	font-size: 6em;
	color: white;
	line-height: 10%;
}

.subtitle{
	font-size: 2em;
	color: white;
}

.paratitle {
	font-size: 3em;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
}

.paratext {
	font-size: 1.5em;
	margin: 5%;
}

.imganno{
	font-size: 1em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 5%;
	width: 50%;
}

.imgf4{
	width: 50%;
	border-radius: 100%;
	display: block;
	margin: auto;
	border-radius: 100%;
}

.tablef4{
	width: 90%;
	margin: 5%;
}

.tablef4 div{
	width: 25%;
	display: table-cell;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 5%;
}

.uservc{
	width: 100%;
	display: table-cell;
	font-size: 1.5em;
	margin: 5%;
	padding: 5%
}

.tablesmallimg{
	width: 40%;
	display: table-cell;
	vertical-align: middle;
	padding: 5%;
}

.tablelargetext{
	width: 60%;
	display: table-cell;
	vertical-align: middle;
	margin: 5%;
}

.tablesmallimg img{
	width: 100%;
	margin: auto;
	display: block;
}